venv
.venv
config
data
logs
models
.env
.pre-commit-config.yaml
.python-version
images.txt
pyproject.toml
terraform
tests3.py
uv.lock
infra/.terraform
infra/.terraform.tfstate.lock.info
infra/terraform.tfvars
infra/terraform.tfstate
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
crash.log
infra/.terraform.lock.hcl
